body{
  background: beige;
}
h3{
  margin-top: 40px;
}

.listOfChores{
  border: 1px maroon dotted;
  padding:20px;
}

.chore{
  list-style-type: none;
  border: 1px double red; 
  display:flex;
  align-items: center;
  padding: 1%;
  box-shadow: 10px 5px 5px rgb(185, 119, 20);
  margin: 2%;
}

.what, .when, .who, .isItFinished{
  flex:1;
  height:40px;
  text-align: center;
  border: dotted darkviolet 2px;
  margin: 10px;
  box-shadow: 10px 5px 5px rgb(243, 216, 96);
}

form{
  justify-content: center;
}